<html>
<title>TA Selection Portal - Faculty-Applicants of {{ course }}-{{ sem }}-{{ year }} </title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">TA-Portal Faculty Page</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="{% url 'faculty_home' %}">Home</a>
      <a class="nav-item nav-link" href="{% url 'faculty_addcourse' %}">Add a Course</a>
      <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a> 
    </div>
  </div>
</nav>
<br>
<div class = "container" style = "text-align:center">
</div>
<div class ="container">
<p><h3>Applications for {{ course.course_name }}</h3></p>

<table class="table" id="application">
  <thead>
    <tr>
      <th scope="col" onclick="sortTable(0)">#</th>
      <th scope="col" onclick="sortTable(1)">Student Name</th>
      <th scope="col" onclick="sortTable(2)">CPI</th>
      <th scope="col" onclick="sortTable(3)">Grade</th>
      <th scope="col" onclick="sortTable(4)">Status</th>
      <th scope="col">Waitlist No.</th>
      <th scope="col">View Application</th>
      <th scope="col">Send Email</th>

    </tr>
  </thead>
  <tbody>
{% for application in applications %}

<tr>
<th scope="row">{{ forloop.counter }}</th>
<td>{{ application.student.name }}</td>
<td>{{ application.student.cpi }}</td>
<td>{{ application.get_grade_display }}</td>
<td>{{ application.status }}</td>
<td>{{ application.waitlist_num }}</td>
<td><a href="{% url 'faculty_student_profile' course.course_name course.semester course.year application.student.ldap_id %}">Application</a></td>
<td>
{% if application.status == "Accepted" %}
<a href = "mailto:{{ application.student.ldap_id }}@iitb.ac.in?subject=Letter of Acceptance as a teaching assistant for {{ course.course_name }}">Email</a>
{% endif %}
{% if application.status == "Rejected" %}
<a href = "mailto:{{ application.student.ldap_id }}@iitb.ac.in?subject=Letter of Rejection as a teaching assistant for {{ course.course_name }}">Email</a>
{% endif %}
{% if application.status == "Waitlist" %}
<a href = "mailto:{{ application.student.ldap_id }}@iitb.ac.in?subject=Waitlisted as a teaching assistant for {{ course.course_name }}">Email</a>
{% endif %}
{% if application.status == "On Hold" %}
<a href = "mailto:{{ application.student.ldap_id }}@iitb.ac.in">Email</a>
{% endif %}
<!--
  STUDENT_STATUS=(('Accepted','Accepted'),('Waitlist','Waitlist'),('Rejected','Rejected'),('On Hold','On Hold'))
-->
</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
<div class="container" style = "text-align:center">
  {% if accepted != "" %}
  <p>
  <a href = "mailto:{{ accepted }}?subject=Letter of Rejection as a teaching assistant for {{ course.course_name }}" role="button" class="btn btn-primary">Send emails to Accepted</a>
</p>
{% endif %}
{% if rejected != "" %}
<p>  
<a href = "mailto:{{ rejected }}?subject=Letter of Rejection as a teaching assistant for {{ course.course_name }}" role="button?" class="btn btn-primary">Send emails to Rejected</a>
</p>
{% endif %}
{% if hold != "" %}
<p>
<a href = "mailto:{{ hold }}" role="button" class="btn btn-primary">Send emails to Waitlisted</a>
</p>
{% endif %}
{% if waitlist != "" %}
<p>
<a href = "mailto:{{ waitlist }}?subject=Waitlisted as a teaching assistant for {{ course.course_name }}" role="button" class="btn btn-primary">Send emails to those on hold
</a>
</p>
{% endif %}

</div>


<script>

function sortTable(n) {                                         // n is the column number which we want to sort
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("application");                // Change name of table accordingly
  switching = true;
  dir = "desc";
  while (switching) {
    switching = false;
    rows = table.rows;
    for (i = 1; i < (rows.length - 1); i++) {
      shouldSwitch = false;
      x = rows[i].getElementsByTagName("TD")[n];                // Change to whatever is id of table data
      y = rows[i + 1].getElementsByTagName("TD")[n];
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          shouldSwitch = true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      switchcount ++;
    } else {
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}

</script>
</html>