<html>
<title>TA Selection Portal - Faculty-Edit Course</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'faculty_home' %}">TA-Portal Faculty Page</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="{% url 'faculty_home' %}">Home</a>
      <a class="nav-item nav-link active" href="{% url 'faculty_addcourse' %}">Add a Course<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="{%url 'logout' %}">Logout</a> 
    </div>
  </div>
</nav>
{% load widget_tweaks %}
<div class = "container">
<h3>Edit Course Details -  {{course.course_name }}-{{ course.get_semester_display }} {{course.year}}</h3>
<form method="post" novalidate>
  {% csrf_token %}

  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
  {% endfor %}

  {% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
      {% for error in form.non_field_errors %}
        {{ error }}
      {% endfor %}
    </div>
  {% endif %}

  {% for field in form.visible_fields %}
    <div class="form-group">
      {{ field.label_tag }}

      {% if form.is_bound %}
        {% if field.errors %}
          {% render_field field class="form-control is-invalid" %}
          {% for error in field.errors %}
            <div class="invalid-feedback">
              {{ error }}
            </div>
          {% endfor %}
        {% else %}
          {% render_field field class="form-control is-valid" %}
        {% endif %}
      {% else %}
        {% render_field field class="form-control" %}
      {% endif %}

      {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
      {% endif %}
    </div>
  {% endfor %}

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<a href = "{% url 'faculty_applications' course.course_name course.semester course.year %}" role="button?" class="btn btn-primary">Back to Course Page</a>
<a href = "{% url 'faculty_delete' course.course_name course.semester course.year %}" onclick= "return confirm('Are you sure you wish to delete {{course.course_name }}-{{ course.get_semester_display }} {{course.year}} ?')"  role="button?" class="btn btn-primary">Delete Course</a>

</div>


<script>
function editCourse() {
  var condition  = confirm("'Are you sure you wish to delete {{course.course_name }}-{{ course.get_semester_display }} {{course.year}} ?");
  if (condition == true) {
    location.replace("{% url 'faculty_delete' course.course_name course.semester course.year %}")
  }
}
</script>