<html>
<title>TA Selection Portal - Student-Home</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">TA-Portal Student Page</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="{% url 'student_profile' %}">Home<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="{% url 'course_list' %}">Courses Running</a>
      <a class="nav-item nav-link" href="{% url 'application_list' %}">My Applications</a>
      <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a> 
    </div>
  </div>
</nav>
<br>
<div class = "container" style = "text-align:center">
<h2>Welcome {{ student.ldap_id }}!</h2>
<br>
<h3>Personal Details</h3>
<br>
<table class="table table-striped">
    <tbody>
    <tr>
        <th scope="row">Name</th>
        <td>{{ student.name }}</td>
    </tr>
    <tr>
        <th scope="row">LDAP ID</th>
        <td>{{ student.ldap_id }}</td>
    </tr>
    <tr>
        <th scope="row">Roll Number</th>
        <td>{{ student.roll_no }}</td>
    </tr>
    <tr>
        <th scope="row">Year of Study</th>
        <td>{{ student.year_of_study }}</td>
    </tr>
    <tr>
        <th scope="row">Department</th>
        <td>{{ student.department_name }}</td>
    </tr>
    <tr>
        <th scope="row">CPI</th>
        <td>{{ student.cpi }}</td>
    </tr>
       
    <tr>
        <th scope="row">Contact Number</th>
        <td>{{ student.contact_no }}</td>
    </tr>
    
        
    </tbody>
  </table>
{% if not student.cpi %}
<h6 style="color:red">Enter your CPI and Year of Study by clicking on Edit Academic Details button</H6>
  <br>
<h5 style="color:red">Warning! Not doing so will not let you apply for any course</H5>

{% endif %}

<br>
<a class="btn btn-primary" href="{% url 'edit_details' %}" role="button">Edit Academic Details</a>
<a class="btn btn-primary" href="https://gymkhana.iitb.ac.in/sso/user/" role="button" target="_blank">Edit Personal Details</a>


  <!-- Please add the body for
        1 - No. of courses the applications have been sent to (max 3)
        2 - List of courses applied
        3 - List of available courses -->


</div>
</html>