<html>
<title>TA Selection Portal - Faculty-Home</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">TA-Portal Faculty Page</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="{% url 'faculty_home' %}">Home<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="{% url 'faculty_addcourse' %}">Add a Course</a>
      <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a> 
    </div>
  </div>
</nav>
<div class = "container" style = "text-align:center">
Welcome {{ fac }}!
</div>
<div class ="container">
<p><h3>Your Courses:</h3></p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Course ID</th>
      <th scope="col">Semester</th>
      <th scope="col">Year</th>
    </tr>
  </thead>
  <tbody>
{% for course in courses %}

<tr>
<th scope="row"><a href = "{% url 'faculty_applications' course.course_name course.semester course.year %}">{{ forloop.counter }}</a> </th>
<td><a href = "{% url 'faculty_applications' course.course_name course.semester course.year %}">{{ course.course_name }}</a></td>
<td><a href = "{% url 'faculty_applications' course.course_name course.semester course.year %}">{{ course.get_semester_display }}</a></td>
<td><a href = "{% url 'faculty_applications' course.course_name course.semester course.year %}">{{ course.year }}</a></td>
</tr>
{% endfor %}
</tbody>
</table>
</div>

</html>

