<html>
<title>Teaching Assistants Selection Portal</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<div class = "container" style = 'text-align:center'>
   <h2>Teaching Assistants Selection Portal</h2>
    <a href = "https://l.facebook.com/l.php?u=https%3A%2F%2Fgymkhana.iitb.ac.in%2Fsso%2Foauth%2Fauthorize%2F%3Fclient_id%3Dz3E7yusTYcwJVy1o3AsFVro2EC18ntwAnBEIJLM4%26response_type%3Dcode%26scope%3Dbasic%2520profile%2520ldap%2520sex%2520phone%2520insti_address%2520program%2520secondary_emails%2520send_mail%26redirect_uri%3Dhttp%253A%252F%252F127.0.0.1%253A8000%252Flogin%26fbclid%3DIwAR0X3SE03FRMPjlvxQDaE6O1_Rz8LL7l1xH_tGNcrdxtgYbit10gRLkTmWg&h=AT04niPBvTjKe1xWFSJPh8dPrtAvYNhWyGcHSPfVRBGYHVHZ9wlVaylilsUXiaPW-iZaoML0svdE72bxNh_wxswW2xN-Y2lYQNNXFTDkynm0jCsTN0TnHQgfdyt6mA" role="button" class="btn btn-primary">Login using SSO</button>
</div>