<html>
<title>TA Selection Portal - Faculty- Profile of {{ student.name }} for {{ course.course_name }} - {{ course.get_semester_display }} {{ course.year }}</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">TA-Portal Faculty Page</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="{% url 'faculty_home' %}">Home<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="{% url 'faculty_addcourse' %}">Add a Course</a>
      <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a> 
    </div>
  </div>
</nav>
<div class = "container" style = "text-align:center">
Profile of {{ student.name }} for {{ course.course_name }} - {{ course.get_semester_display }} {{ course.year }}

<h3>Personal Details</h3>
<table class="table table-striped">
    <tbody>
    <tr>
        <th scope="row">Name</th>
        <td>{{ student.name }}</td>
    </tr>
    <tr>
        <th scope="row">LDAP ID</th>
        <td>{{ student.ldap_id }}</td>
    </tr>
    <tr>
        <th scope="row">Roll Number</th>
        <td>{{ student.roll_no }}</td>
    </tr>
    <tr>
      <th scope="row">Programme</th>
      <td>{{ student.degree_name }}</td>
  </tr>
    <tr>
        <th scope="row">Join Year</th>
        <td>{{ student.join_year }}</td>
    </tr>
    <tr>
      <th scope="row">Year of Study</th>
      <td>{{ student.year_of_study }}</td>
  </tr>
    <tr>
        <th scope="row">Department</th>
        <td>{{ student.department_name }}</td>
    </tr>
    <tr>
        <th scope="row">CPI</th>
        <td>{{ student.cpi }}</td>
    </tr>
    <tr>
        <th scope="row">Contact Number</th>
        <td>{{ student.contact_no }}</td>
    </tr>
    
        
    </tbody>
  </table>

<div class = "container" style = "text-align:center" >
  <p>Answers to the questions:</p>
  <table class="table table-striped">
    <tbody>
    <tr>
        <th scope="row">Course Grade</th>
        <td>{{ application.get_grade_display }}</td>
    </tr>
      {% if course.question1 %}
      <tr>
          <th scope="row">{{ course.question1 }}</th>
            <td>{{ application.answer1 }}</td>
          </tr>
        {% endif %}
            {% if course.question2 %}
            <tr>
          <th scope="row">{{ course.question2 }}</th>
            <td>{{ application.answer2 }}</td>
          </tr>
            {% endif %}
  
            {% if course.question3 %}
            <tr>
          <th scope="row">{{ course.question3 }}</th>
            <td>{{ application.answer3 }}</td>
          </tr>
             {% endif %}
            {% if course.question4 %}
      <tr>
          <th scope="row">{{ course.question4 }}</th>
            <td>{{ application.answer4 }}</td>
          </tr>
             {% endif %}
              {% if course.question5 %}
            <tr>
          <th scope="row">{{ course.question5 }}</th>
            <td>{{ application.answer5 }}</td>
          </tr>
              {% endif %}  
    </tbody>
  </table>
</div>

{% load widget_tweaks %}
<div class = "container">
<form method="post" novalidate>
  {% csrf_token %}

  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
  {% endfor %}

  {% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
      {% for error in form.non_field_errors %}
        {{ error }}
      {% endfor %}
    </div>
  {% endif %}

  {% for field in form.visible_fields %}
    <div class="form-group">
      {{ field.label_tag }}

      {% if form.is_bound %}
        {% if field.errors %}
          {% render_field field class="form-control is-invalid" %}
          {% for error in field.errors %}
            <div class="invalid-feedback">
              {{ error }}
            </div>
          {% endfor %}
        {% else %}
          {% render_field field class="form-control is-valid" %}
        {% endif %}
      {% else %}
        {% render_field field class="form-control" %}
      {% endif %}

      {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
      {% endif %}
    </div>
  {% endfor %}

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>